body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

section {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 50%;
}

legend {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    display: block; 
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-bottom: 10px;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block; 
    margin: 0 auto;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

footer {
    text-align: center;
    margin-top: 20px;
}

footer p {
    font-size: 0.8rem;
}

footer a {
    color: #007bff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.short-url {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
    display: inline-block;
    padding: 8px 12px;
    border-radius: 5px;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.short-url:hover {
    background-color: #e0e0e0;
}

#additionalButtons {
    margin-top: 20px;
}

#statisticsResult {
    margin-top: 20px;
    display: none;
}